BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: false
SpaceAfterControlStatementKeyword: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
